@model IEnumerable<FormApp.Models.Product>

@{
    ViewData["Title"] = "Home";
}

<h2>Products</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prd in Model)
        {
            <tr>
                <td>@prd.ProductId</td>
                <td>@prd.Image</td>
                <td>@prd.Name</td>
                <td>@prd.Price</td>
                <td>
                    <a href="#" class="btn btn-sm btn-primary">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
